################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCodeSolutions/.vs/LeetCodeSolutions
/LeetCodeSolutions/x64/Debug
